/* navbar started */

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Light.ttf);
}
.poppins-light{
font-family: Poppins-Italic;
}
html{
    font-family: Poppins;
}
.nav{
    display: flex;
    height: 100px;
    justify-content: space-around;
    padding: 20px;
    
    
}
.nav-child1{
    font-size: 2rem;
    
    /* padding: 20px; */
}
.bgred{
    background-color: red;
}
.bgblack{
    background-color: black;
}
.btn-frenchise{
    background-color: transparent;
    color: white;
    border: 1px solid #ffffff;
    padding: 10px 20px;
    border-radius: 25px;
    height: 50px;
}
.circle{
    border-radius: 20px;
    background-color: #ffffff;
    color: red;
    padding: 5px 10px;
}

.btn-online{
    border-radius: 25px;
    padding: 10px 20px;
    background-color: red;
    height: 50px;
    width: 160px;
}

/* 
navbar end */

/* sectiokn 1 css */
.section1{
    justify-content: center;
    padding: 50px;
    display: flex;
    color: #ffffff;
}
.section-child{
    margin: 10px;
    padding: 20px;

}
.btn-order{
    
    background-color: transparent;
    color: white;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    margin-left: 00px;
    margin-top: 40px;
    

}
.font-size{
    font-size: small;
}
/* ............section 2 css........ */
.section2{
    justify-content: space-around;
    padding: 50px;
    display: flex;
    color: white;
    margin: 20px;
}
.section3{
    justify-content: space-around;
    padding: 50px;
    display: flex;
    color: white;
    margin: 20px;
}
tex-left{
    justify-items: left;
}
.section-child1{
    margin: 5px;
    padding: 10px;
    }
/* 
    village section css */
    .village-section{
        /* justify-content: center; */
        color:#ffffff;
        margin-top: 30px;
        padding: 40px;
        text-align: center;
        font-size: 4rem;
        background-color: rgb(5, 11, 11);
    }
    .parent{
        display: flex;
        color: #ffffff;
    }
    .village-section-child{
        padding-top: 120px;
        margin: 20px;
    }

    /* village section css completed */

    /* express section css */
    .express-section{
        /* justify-content: center; */
        color:#ffffff;
        margin-top: 30px;
        padding: 40px;
        text-align: center;
        font-size: 4rem;
        background-color: rgb(5, 11, 11);
    }
    .express{
        display: flex;
        justify-content: center;
        /* margin: 10px; */
        padding: 10px;

    }
    .express-child{
        background-color: #ffffff;
        text-align: center;
        width: 300px;
        padding: 5px;
        margin: 15px;
        font-size: medium;
    }

    /* express section ends */

    /* social feed section css */
    .social-feed{
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 0px;
        
    }
    .social-feed-child{

    }

/* 
    footer */

    .footer{
        background-color: rgb(19, 15, 15);
        display: flex;
        justify-content: space-around;
        color: #ffffff;
        margin: 20px;
        padding: 30px;
    }
    .footer-child{
        width: 350px;
        font-size: 1.2rem;
        margin: 10px;
        
    }
    .footer-circle{
        border-radius: 20px;
        background-color: red;
        color: #ffffff;
        padding: 5px 10px;
        width: 50px;
        height: 50px;
        font-size : large;
        margin: 10px;

        }
       
        .footer-end{
            display: flex;
            border: 1ps solid white;
            color: #ffffff;
            justify-content: space-around;
            padding: 20px;
            align-items: center;
        }
    
